* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  padding-top: 65px;
}
.header {
  background-color: #004274;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header .logo {
  margin-right: 20px; 
}

.header .logo img {
  height: 40px; 
  vertical-align: middle;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  display: flex;
  align-items: center;
  list-style: none;
}

#navigation li {
  margin-right: 15px;
}

#navigation li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px; 
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-phone,
.sign-in-button { 
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.header-phone {
  margin-right: 20px;
}

.sign-in-button { 
  background-color: #00aeff;
  border-radius: 5px;
  padding: 5px 15px; 
}

.sign-in-button:hover {
  background-color: #008dcf; 
}


.search-area {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 900px;
}

.input-container {
  position: relative;
  flex-grow: 2;
}

.input-container .fa-magnifying-glass {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.search-area input[type="text"] {
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding-left: 40px;
  width: 100%;
  border-radius: 4px;
  height: 40px;
}

.custom-select {
  position: relative;
  min-width: 100px;
  flex-grow: 1;
}

.select-selected {
  padding: 8px;
  height: 40px;
  border-radius: 4px;

  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
}

.custom-select:hover .select-items {
  display: block;
}

.select-items {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 99;
  top: 100%;
  width: 100%;
  left: 0;
  max-height: 120px;
  overflow-y: auto;
}

.select-items div {
  height: auto;
  padding: 8px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-area button {
  background-color: #00aeff;
  color: white;
  border: none;
  padding: 8px 15px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  flex-grow: 1;
}

.search-area button:hover {
  background-color: #00aeff;
}
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
}

.image-text h1 {
  font-size: 3.5em;
}
.image-text .image-text h1,
.image-text p,
.image-text h2,
.image-text button {
  margin-bottom: 20px;
}

.image-text button {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border: 3px solid #00aeff;
  color: #00aeff;
  font-size: 20px;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.35s;
}

.image-text button:before,
.image-text button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #00aeff;
  z-index: -1;
  transition: all 0.35s;
}

.image-text button:before {
  opacity: 0.5;
}

.image-text button:after {
  transition-delay: 0.2s;
}

.image-text button:hover {
  color: #fff;
}
.properties-heading{
  text-align: center;
  margin: 40px 0;
p{
  margin-top: 20px;
}

}

.image-text button:hover:before,
.image-text button:hover:after {
  top: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 20px; 
}

.image-list {
  display: flex;
  overflow-x: auto;
  padding: 20px 40px; 
  align-items: center;
  gap: 20px;
}

.image-list::-webkit-scrollbar {
  display: none;
}

.image-item {
  flex: 0 0 auto;
  width: 425px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.property-info {
  text-align: left;
  /* width: 100%; */
}
.property-info hr {
  width: calc(100% + 20px); 
  margin-left: -10px; 
  border: 0;
  height: 1px;
  background-color: #eaeaea; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}
.price, .type, .description, .features {
  margin-bottom: 5px;
  margin-top: 5px;
}
.price{
  color: blue;
  font-size: 20px;
}
.type{
  font-weight: bolder;
}
.fa-chevron-left, .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  user-select: none; 
  transform: translateY(-50%);
}
.features{
  display: flex;
  justify-content: space-between;
  span{
    font-weight: lighter;
  }
}
/* .hr {
  width: 100%; 
  border-top: 1px solid #ccc;
  margin-top: 10px;
} */

.fa-chevron-left {
  left: -20px; 
}

.fa-chevron-right {
  right: -20px; 
}
@media only screen and (max-width: 1023px) {
  .slider-wrapper {
    margin: 0; 
  }

  .image-list {
    padding: 20px 20px; 
  }

  .image-item {
    width: 100%; 
  }

  .fa-chevron-left, .fa-chevron-right {
    font-size: 20px; 
    left: 10px; 
    right: 10px;
  }
}
.help-section {
  margin-top: 50px;
  background: url('https://linkplay.co/image/solutions/homeaudio/roxanne-joncas-582452-unsplash-1920x540-overlay.jpg') no-repeat center center/cover;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.service-boxes {
  display: flex;
  justify-content: center; 
  align-items: stretch; 
margin: -10px;
}

.service-box {
  background-color: #00A0EB; 
  padding: 20px; 
  margin: 10px; 
  flex-basis: calc(33.333% - 20px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: white; 
  transition: transform 0.3s ease; 
}

.service-box:hover {
  transform: translateY(-5px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}



.service-box i {
  font-size: 4rem; 
  margin-bottom: 15px; 
  color: white; 
}
.service-icon {
  max-width: 100px;
  margin-bottom: 10px;
}

.service-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-box p {
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 960px) {
  .service-boxes {
    flex-direction: column;
  }
  
  .service-box {
    margin-bottom: 20px;
  }
}
.second{
  text-align: center;
  margin-top: 70px;
  h1{
    font-size: xx-large;
  }
}
.explore-section {
  background-color: #F2F4F8;
  padding: 40px 0;
  display: flex;
  justify-content: space-around; /* Space out the main title and the property types */
  align-items: center; /* Center align the items vertically */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.explore-section .content {
  flex-basis: 40%; /* Allocate width to the content */
  max-width: 40%; /* Prevent the content from exceeding its allocated width */
  text-align: center; /* Center text for the title and description */
}


.explore-section h2,
.explore-section p {
  margin-bottom: 20px;
}


.btn {
  display: inline-block;
  background-color: #00AEFF;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  text-decoration: none; 
  position: relative; 
  overflow: hidden; 
  min-width: 150px; 
  height: 45px;
}

.btn-text, .arrow {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn-text {
  left: 0;
  opacity: 1; 
}

.arrow {
  left: 0;
  opacity: 0; 
  display: block; 
}

.btn:hover .btn-text {
  opacity: 0; 
}

.btn:hover .arrow {
  opacity: 1; 
}

.btn:hover {
  background-color: #008dcf;
}




.explore-section .property-types {
  flex-basis: 50%; /* Allocate width to the property types */
  max-width: 50%; /* Prevent the property types from exceeding their allocated width */
  display: grid; /* Use grid for internal items */
  grid-template-columns: repeat(4, 1fr); /* Create four columns for items */
  gap: 20px; /* Space between grid items */
  justify-content: center; /* Center grid items */
}


.property-item {
  text-align: center; /* Center text and icons within each property item */
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #d6d6d6; /* Border for definition */
  border-radius: 3px; /* Rounded corners */
}

.property-item i {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.property-item p {
  text-align: center;
  font-size: 1.2rem;
}

.property-types .property-item:hover {
  background-color: lightgray; 
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

@media (max-width: 1024px) {
  .explore-section {
    justify-content: center;
  }

  .explore-section .content,
  .explore-section .property-types {
    flex-basis: 100%;
    max-width: 100%;
  }

  .explore-section .property-types {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Auto-fit grid items on smaller screens */
  }
}

@media (max-width: 768px) {
  .property-item {
    padding: 10px; /* Reduce padding on smaller screens */
  }
}
.context-agent {
  text-align: center;
  margin-top: 50px;
}

.context-agent h1 {
  font-size: 2rem; 
  font-weight: bolder;
  color: #333; 
}

.context-agent p {
  font-size: 1rem; 
  color: #666; 
  font-weight: lighter;
  margin-top: 10px;
  line-height: 1.5;
}
.agent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 70px auto;
  max-width: 1200px;
  padding: 0 15px;
}

.agent-card-wrapper {
  flex: 0 1 calc(25% - 20px);
  margin: 10px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
}

.agent-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.agent-card-image {
  width: 100%;
  height: 60%;
  overflow: hidden;
  transition: .5s;
}

.agent-card:hover .agent-card-image img {
  opacity: 0.3;
}

.agent-social-icons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
}

.agent-card:hover .agent-social-icons {
  display: flex;
}

.agent-social-icons li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  color: #333;
  text-decoration: none;
}

.agent-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  text-align: center;
  transition: all .5s ease-in-out;
}

.agent-details h2 {
  margin: 0;
}

.agent-job-title {
  display: block;
  color: #666;
}

.agent-card:hover .agent-details {
  transform: translateY(-20%);
}

@media (max-width: 768px) {
  .agent-card-wrapper {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .agent-card-wrapper {
    flex-basis: 100%;
  }
}
.newsletter-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  background-color: #004274;
  color: white;
}

.newsletter-content {
  flex-basis: 50%; 
  padding: 40px; 
}

.newsletter-content h2 {
  font-size: 2em; 
}

.newsletter-content p {
  margin-bottom: 1em;
}

#newsletter-email {
  width: 70%; 
  padding: 10px;
  margin-bottom: 1em;
  border: none;
  border-radius: 5px;
}

#newsletter-subscribe {
  background-color: #00A0EB;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.newsletter-image {
  flex-basis: 50%; 
  background: url('./subscribe-img.jpg') no-repeat center center;
  background-size: cover; 
}

@media (max-width: 768px) {
  .newsletter-section {
    flex-direction: column;
  }

  .newsletter-content,
  .newsletter-image {
    flex-basis: 100%;
    width: 100%;
  }

  #newsletter-email {
    width: 100%;
  }
}
.footer {
  background-color: #ffffff;
  color: #333333;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 50px;
}

.footer-section {
  margin: 0 20px;
}

.footer-section h2,
.footer-section h3 {
  color: #004274;
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #666666;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  margin-right: 20px;
}

.footer-section ul li a:hover {
  color: #00A0EB;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #333333;
  margin-right: 15px;
}

.social-icons a:hover {
  color: #00A0EB;
}

.contact-info .phone-number {
  font-weight: bold;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  margin-top: 40px;
}

.scroll-top {
  position: absolute;
  right: 50px;
  bottom: 40px;
  color: #00A0EB;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-content {
    padding: 0 20px;
  }

  .footer-section {
    margin: 0 10px;
    margin-bottom: 20px;
  }

  .footer-section:last-child {
    margin-bottom: 0;
  }

  .scroll-top {
    right: 20px;
  }
}

@media (max-width: 480px) {
  .footer-content {
    padding: 0 10px;
  }

  .footer-section {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-bottom {
    padding: 20px 10px;
  }
}
