* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #004274;
  padding: 10px 20px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  list-style: none;
  display: flex;
  align-items: center;
}

#navigation li {
  margin-right: 30px;
}

#navigation li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-phone,
.btn-signin {
  color: #fff;
  text-decoration: none;
}

.header-phone {
  margin-right: 20px;
}

.btn-signin {
  background-color: #00aeff;
  padding: 10px 20px;
  border-radius: 5px;
}

#navigation li a:hover,
.btn-signin:hover {
  background-color: #00aeff;
}

.search-area {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 900px;
}

.input-container {
  position: relative;
  flex-grow: 2;
}

.input-container .fa-magnifying-glass {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.search-area input[type="text"] {
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding-left: 40px;
  width: 100%;
  border-radius: 4px;
  height: 40px;
}

.custom-select {
  position: relative;
  min-width: 100px;
  flex-grow: 1;
}

.select-selected {
  padding: 8px;
  height: 40px;
  border-radius: 4px;

  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
}

.custom-select:hover .select-items {
  display: block;
}

.select-items {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 99;
  top: 100%;
  width: 100%;
  left: 0;
  max-height: 120px;
  overflow-y: auto;
}

.select-items div {
  height: auto;
  padding: 8px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-area button {
  background-color: #00aeff;
  color: white;
  border: none;
  padding: 8px 15px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  flex-grow: 1;
}

.search-area button:hover {
  background-color: #00aeff;
}
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
}

.image-text h1 {
  font-size: 3.5em;
}
.image-text .image-text h1,
.image-text p,
.image-text h2,
.image-text button {
  margin-bottom: 20px;
}

.image-text button {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border: 3px solid #00aeff;
  color: #00aeff;
  font-size: 20px;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.35s;
}

.image-text button:before,
.image-text button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #00aeff;
  z-index: -1;
  transition: all 0.35s;
}

.image-text button:before {
  opacity: 0.5;
}

.image-text button:after {
  transition-delay: 0.2s;
}

.image-text button:hover {
  color: #fff;
}

.image-text button:hover:before,
.image-text button:hover:after {
  top: 0;
}
.properties-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  overflow: auto;
}
.properties-heading {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

.properties-heading h2 {
  color: #004274;
  margin-bottom: 10px;
  font-size: 24px;
}

.properties-heading p {
  color: #666;
  font-size: 18px;
}
.property-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.property-card img {
  width: 100%;
  height: auto;
  display: block;
}

.property-info {
  padding: 15px;
  text-align: left;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.type {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.features {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.features span {
  display: block;
  margin-bottom: 5px;
}

.view-property {
  background-color: #004274;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.view-property:hover {
  background-color: #00aeff;
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.property-card {
  flex: 0 0 auto;
  margin-right: 20px;
  scroll-snap-align: start;
}
